
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Barlow', sans-serif; /* Global Barlow */
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.content {
    font-family: 'Barlow', sans-serif; }

.content.is-hidden {
  display: none !important;
}


/* Header */

.site-header {
  height: 4rem;
  position: relative;
  z-index: 2;
  background-color: #396533;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
}

.site-title {
  font-size: 1.35rem;
  line-height: 4rem;
  color: White;
 font-family: 'Barlow', sans-serif;

}

/* Main */
.site-main {
  position: relative;
  z-index: 1;
  height: calc(100vh - 4rem);
}


/* Search Container */
.search-container {
  position: relative;
  z-index: 3;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0.25rem 0.25rem;
}
@media print, screen and (min-width: 40em) {
  .search-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 15rem;
    height: 3.25rem;
    overflow: visible;
    background-color: #9cc47e;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), -4px 0 0 rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 64em) {
  .search-container {
    right: auto;
    left: 0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), 4px 0 0 rgba(0, 0, 0, 0.1);
  }
}

/* Search Input */
.search {
  width: 100%;
  padding: 0.5rem;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  margin: 0;
  box-sizing: border-box;
}

/* Search Results */
.search-results {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 100%;
  max-height: 430px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background: white;
  padding-left: 0;
  margin-top: 0.5rem;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
}

    .search-results li {
  padding: 12px 14px;         
  cursor: pointer;
  list-style: none;
  border-top: 1px solid #8683a0;
  line-height: 1.6;        
      }
    .search-results li:hover {
      background-color: #f0f0f0;
    }

/* Map */
.map-container {
  height: 100%;
    margin-top: 0;
}
@media screen and (min-width: 64em) {
  .map-container {
    height: 100%;
      margin-top: 0;
  }
}
.search-container {
  top: 0;
  margin: 0;
}


iframe {
  width: 100%;
  height: 100%;
}

/* Sidebar */
.sidebar {
  z-index: 2;
  padding: 1rem;
  background-color: WhiteSmoke;
}
@media print, screen and (min-width: 40em) {
  .sidebar {
    margin-top: 3.25rem;
    height: calc(60vh - 3.25rem);
    overflow-y: auto;
    box-shadow: -4px 0 0 0 rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 64em) {
  .sidebar {
    height: calc(100% - 3.25rem);
    box-shadow: 4px 0 0 0 rgba(0, 0, 0, 0.1);
  }
}

/* Content Close Button */
.content-close-button-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.content-close-button {
  width: 2rem;                  /* Equal width and height */
  height: 2rem;
  font-size: 1.5rem;
  color: #000;
  background-color: #9cc47e;
  border: none;                /* No border */
  cursor: pointer;
  display: flex;               /* Center text horizontally & vertically */
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 0.25rem;      /* Slight rounding, optional */
  box-sizing: border-box;      /* Prevents padding from affecting size */
}


.content-close-button:hover {
    background-color: #9cc47e
}


/* Content */
.content {
  padding: 1rem;
  z-index: 3;
}
@media screen and (min-width: 64em) {
  .content {
    box-shadow: -4px 0 0 0 rgba(0, 0, 0, 0.1);
    height: calc(100%);
    overflow-y: auto;
  }
}

/* When content is closed */
@media print, screen and (min-width: 40em) {
  .site-main:not(.has-content-open) .map-container,
  .site-main:not(.has-content-open) .sidebar {
    height: calc(100vh - 4rem);
  }
}

/* Show Info Panel Button */
.content-open-button-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
 font-family: Barlow;
}

.content-open-button {
  display: none;
  background-color: #9cc47e;
  color: #000000;
  border: none;
     font-family: Barlow;

}


.content-open-button:hover {
  background-color: #8683a0;
  color: #000000;
}


.sidebar{
  font-family: Barlow;  
    
}

.content.cell.large-3.large-order-3{
    background-color: WhiteSmoke;
}

.sidebar.cell.medium-3.large-2.large-order-1.show-for-medium{
    background-color: WhiteSmoke;
    position: relative;
    height: 92.7%;
}

 .LegendContainer {
  position: absolute;
  bottom: 10px;
     width: 240px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 7px;
     border: dotted;
    border-color: #8683a0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  background-color: #ffffff;
}
.Legend {
    width:100%;
}

.legendItem {
  display: flex;
  align-items: center;
  width: 40%; /* two items per row with gap */
  color: white;
    font-family: 'Barlow', Arial, Helvetica, sans-serif;
    font-weight: 500;
}
       /* style for items with the class "layerDescription" */
   .layerDescription {
     color: #000000;
     padding-left: 10px;
   }


.reset-map-button {
 position: absolute;
  bottom: 155px;
     width: 240px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 7px;
     border: dotted;
    border-color: #8683a0;
  padding: 10px;
  background-color: #9cc47e;
}

.reset-map-button:hover {
  background-color: #8683a0;
}

